<h1>Filmster</h1>
<% if user_signed_in? %>
<h2> Hello, <%= current_user.first_name %> </h2>
	<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
<% else %>
	<%= link_to "Login", new_user_session_path %><br>
	<%= link_to "Register", new_user_registration_path %>
<% end %>

<%= link_to "Recent Reviews", reviews_path%>
<%= link_to "Film Categories", categories_path%>

<%= form_tag(films_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>


<h2>Recently Reviewed Films </h2>

<% @films.each do |film| %>
  <%= link_to film.name, film_path(film) %>
<% end %>
