<h1><%= @film.name %></h1>

<% if current_user %>
  <%= link_to "Leave review", new_film_review_path(@film)  %>
<% else %>
  Want to leave a review? <%= link_to "Log in", new_user_session_path %>
<% end %>

<% @film.reviews.each do |review| %>
  <div class="review-show">
    <div class="padding">
      <h3>
        <%= review.title %>
      </h3>
      <p>
        <img src="/assets/star-full.png" alt="rss feed" />

      </p>
      <p class='comment-body'>
        <%= review.body %>
      </p>
      <br />
      <span class='author'>- <%= review.reviewer.first_name %> <%= review.reviewer.last_name %></span>
      <ul>
        <br />
        Comments:
        <br />
        <% review.comments.each do |comment| %>
          <li class='comment'>
            <span class='author'><%= comment.commenter.first_name %> <%= comment.commenter.last_name %></span>
             - <%= comment.text %>
          </li>
        <% end %>
      </ul>
      <% params[:review_id] = review.id %>
      <%= render 'comments/form' %>
    </div>
  </div>
<% end %>
