<h1><%= @film.name %></h1>
<% if current_user %>
  <%= link_to "Leave review", new_film_review_path(@film)  %>
<% else %>
  Want to leave a review? <%= link_to "Log in", new_user_session_path %>
<% end %>

<% @film.reviews.each do |review| %>
  <h3><%= review.title %></h3>
  <p><%= review.rating %></p>
  <p><%= review.body %></p>
  <p><%= review.reviewer.first_name %> <%= review.reviewer.last_name %></p>
  <ul>

  </ul>
    <%= form_for :comment, url: comments_path do |f| %>
      <%= f.text_field :text %>
      <%= f.hidden_field :review_id, value: review.id %>
      <%= f.hidden_field :commenter_id, value: review.reviewer.id %>
      <%= f.submit %>
    <% end %>
<% end %>
